# Ignore all terraform variables files
*.tfvars
*.tfvars.json

# Specifically ignore files often used for secrets
secrets.tfvars
terraform.tfvars

#ignore terraform files
.terraform
.terraform.lock.hcl